fastapi
uvicorn
jinja2
python-multipart
python-dateutil
feedgen
email-validator
phonenumbers
slowapi
sqlalchemy
passlib
bcrypt
resend
python-dotenv
groq
python-dotenv
requests
feedparser
beautifulsoup4
newspaper3k
